body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.img-container {
	background: #fff;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.img-container > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.big-img-container {
	background: #fff;
	width: auto;
	height: 100%;
	overflow: hidden;
}

.big-img-container > img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}
